/* CSS GOES HERE */

html {
    scroll-behavior: smooth;
  }

.dark_mode{
    background-color: #1D0133;
    text-decoration-color: #CABDD3;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #EFECE6;
    scroll-behavior: smooth;

}

ul{
    margin: 0;
    font-weight: 400;
}


a {
    outline-color: transparent;
    text-decoration: none;
  }
  
  a:link {
    color:#1D0133;
  }
  
  a:visited {
    color:#1D0133;
  }
 
  a:active {
    background: #CABDD3;
    color: #1D0133;
  }

  a:hover {
    background: #CABDD3;
  }


.dark_mode #contact {
    background-color: #1D0133;
}

#contact{
    background-color: #AF8D4A;
}

.dark_mode .main_nav {
    background-color: #CABDD3;
}

.main_nav{
    margin-bottom: 0;
    padding: 30px;
    padding-left: 70px;
    background-color: #AF8D4A;
    border: 0cm;
}

.mobile_menu{
    width:40px;
    height: 40px;
    position: fixed;
    top: 40px;
    left: 40px;
    background-color: #EFECE6;
    background-image: url(images/134216_menu_lines_hamburger_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 999;
    display: none;
}

.light_logo {
    display: block;
}

.dark_mode .light_logo {
    display: none;
}

.dark_logo {
    display: none;
}

.dark_mode .dark_logo {
    display: block;
}

.cardDark{
    width:40px;
    height: 40px;
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: #CABDD3;
}

.mobile_menu_popout{
    position:fixed;
    height: 100%;
    left: -180px;
    padding-top: 100px;
    background-color: #AF8D4A;
    z-index: 998;
    padding-right: 30px;
    transition:all 300ms;
    display:none;
}

.open{
    left: 0;
}

.close{
    background-image: url(images/8666595_x_icon.svg);
}


.overlap{
    background-color: #CABDD3;
    text-align: right;
}


ul {
    list-style: none;
}


.dark_mode #gallery {
    background-color: #1D0133;
}

#gallery {
    background-color: #AF8D4A;
}


.dark_mode .skill_list {
    background-color: #AF8D4A;
}

.skill_list {
    background-color: #CABDD3;
    display: flex;
    flex-flow: row;
    height: 150px;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;
    color: #1D0133;
    
}

.dark_mode h1 {
    color: #1D0133;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #AF8D4A;
}

.dark_mode h3 {
    color: #1D0133;
    background-color: #AF8D4A;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #AF8D4A;
    background-color: #CABDD3;
    padding-right: 150px;
    margin: 0;
    margin-bottom: -10px;
}

.dark_mode h2 {
    color: #AF8D4A;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    padding-left: 150px;
    margin-bottom: -10px;
    color: #CABDD3;
}

.dark_mode h5 {
    color: #1D0133;
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: -10px;
    padding-right: 150px;
    color: #AF8D4A;
    

}

.dark_mode h4 {
    color: #1D0133;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-left: 10%;
    margin-bottom: -2%;
    color: #CABDD3;
}

.dark_mode p {
    color: #EFECE6;
}

p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1D0133;
}

.dark_mode section {
    background-color: #1D0133;
    color: #1D0133;
}


section {
    padding: 60px 40px;
}

section:nth-last-child() {
    background-color: #AF8D4A;
}


.dark_mode .container {
    background-color: #1D0133;
    color: #1D0133;
}

.container {
    width: 100%;
    padding: 0%;
}

.containerContact {
    width: 100%;
    padding: 20px;
    margin: 10px;
    align-content: center;
}

.container_skills {
    width: 100%;
    padding: 0%;
}

#skills {
    padding: 0%;
}

.dark_mode #faqs {
    background-color: #CABDD3;
}

#faqs {
    padding-bottom: 0;
}

.container_gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.container_faqs {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    font-size: 20;
}

.imageG {
    padding: 10px;
    background-color: #CABDD3;
    max-width: 250px;
    max-height: 250px;
}

.container_left {
    width: 100%;
    max-width: 960px;
    text-align: left;
    padding-left: auto;
    margin-left: auto;

}

.dark_mode #about {
    background-color: #1D0133;
}

#about{
    background-image: url("images/IMG_4183-5.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: -80px;
    background-position-y: 200px;
    margin-right: 70px;
}

#header {
    display:inherit;
    background-image: url("images/TopRight.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position-x: 640px;
    background-position-y: -200px;
}


.row_left {
    width: 50%;
    max-width: 260px;
    text-align: left;
    margin-right: auto;
    padding-left: 220px;
}


.row_right {
    width: 50%;
    max-width: 400px;
    text-align: left;
    margin-left: auto;
    padding-right: 70px;
}

.dark_mode nav ul {
    background-color: #CABDD3;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #AF8D4A;
    flex-flow: row;
    padding-left: auto;
    justify-content: left;
    gap: 10px;
}

.dark_mode footer {
    background-color: #CABDD3;
}

footer {
    background-color: #EFECE6;
    color: #bf2020;
    padding: 10px;
}

.dark_mode .header_text {
    color: #EFECE6;
}



@media only screen and (max-width: 768px) {
    .main_nav{
        display: none;
    }

    .mobile_menu{
        display:block;
    }

    .mobile_menu_popout{
        display:block;
    }

    h1{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }

    .container{
        padding-top: 30px;
    }

    #about{
        background-image: none;
        background-color: #EFECE6;
    } 

    #header{
        padding-bottom: 450px;
        background-size: 500px;
        background-position-y: 250px;
        background-position-x: 30px;

    }

    .row_left {
        width: 50%;
        max-width: 260px;
        text-align: left;
        margin-right: auto;
        padding-left: 100px;
    }

}
@media only screen and (max-width: 390px) {
    #header{
        background-image: none;
        padding-bottom: 0%;

    }

    .row_right {
        width: 100%;
        text-align: left;
        margin-left: auto;
        padding: 10px;
    }

    h1{
        font-size: 20px;
    }
   

    p{
        font-size: 12px;
    }

    .skill_list {
        background-color: #CABDD3;
        display: block;
        padding-top: 25px;
        padding-bottom: 100px;
        justify-content: center;
        color: #1D0133;
        
    }

    .row_left {
        width: 50%;
        max-width: 260px;
        text-align: left;
        margin-right: auto;
        padding-left: 10px;
    }


}